<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>ADMIN - BKKSG</title>
     <style>
          th, td{
               border: black 1px solid;
               padding: 0.5rem;
          }

          .imgSample {
               background-image: url('../tmp/test.png');
               background-position: center;
               background-repeat: no-repeat;
               background-size: contain;

               width: 300px;
               height: auto;
          }
     </style>
</head>
<body>
          <h2>ADMIN</h2>

          <!-- CREATE 모드 들어가기 -->
          <p>
               <form action="/admin/create" method="GET">
               <input type="submit" value="CREATE">
               </form>
          </p>
          <!-- multiple옵션 추가로 컨트롤 / 쉬프트 키로 다중 선택 가능  -->
          <table class = 'admin-table' data-admin="contents">
               <tr>
                    <th>id</th>
                    <th>type</th>
                    <th>author</th>
                    <th>title</th>
                    <th>desc</th>
                    <th>update</th>
                    <th>delete</th>
               </tr>
               <% for (var i =0; i<contents.length; i++) { %>
                    <tr>
                         <td><%= contents[i].id %></td>
                         <td><%= contents[i].topic %></td>
                         <td><%= contents[i].nickname %></td>
                         <td><%= contents[i].title %></td>
                         <td><%= contents[i].description %></td>
                         <td><a href="/admin/update?id=<%=contents[i].id%>"><button>update</button></a></td>
                         <td><form action="/admin" method="POST">
                              <input type="hidden" name="id" value= <%= contents[i].id %>>
                              <input type="submit" value="delete">
                              </form>
                         </td>
                    </tr>
               <% } %>  
          </table>
     <script>
          // const createHtml = `<%- JSON.stringify(html) %>` 
          // html: html.CRUD.create(profiles)
     </script>
</body>
</html>

